section {
  padding: var(--space-3x-large) var(--space-2x-large);
}

/* 글길 베스트셀러 제목 */
.bestseller {
  display: flex;
  flex-direction: column;
  gap: var(--space-normal);
}

.bestseller-header {
  display: flex;
  font-size: var(--fs-h2);
  font-weight: var(--fw2);
  margin-bottom: 2rem;
}

.bestseller-arrow {
    width: 1.5rem;
  }

/* 일별 주별 월별 버튼 영역  */
.bestseller-period {
  display: flex;
  gap: var(--space-normal);
  margin-bottom: 3rem;
}

.bestseller-period-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 9rem;
  height: var(--space-2x-large);
  box-sizing: border-box;

  color: var(--black-800);
  background-color: var(--black-100);
  border: 1px solid var(--black-300);
  border-radius: 100px;

  font-size: var(--fs-h4);
  letter-spacing: 0;
  text-decoration: none;
}

.bestseller-period-link:hover {
  background-color: var(--black-0);
}

.bestseller-period-link:focus-visible {
  outline: 3px solid #333;
  outline-offset: 3px;
}

/* 북 리스트 그리드 */

.bestseller-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-3x-large) var(--space-normal);

  margin: 0;
  padding: 0;
  list-style: none;
}

.bestseller-item {
  min-width: 0;
}

.book-card {
  display: flex;
  align-items: flex-start;
  gap: 1.75rem;
}

.book-image {
  flex-shrink: 0;
  margin: 0;
}

.book-cover {
  display: flex;
  justify-content: center;
  width: 160px;
  aspect-ratio: 160/234;
  box-sizing: border-box;
  object-fit: cover;
  border: 1px solid var(--black-200);
  border-radius: 8px;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-normal);
  min-width: 0;
  text-align: left;
}

.book-info .empty-line {
  min-height: 1lh;
}

.book-rank,
.book-title,
.book-creators,
.book-publisher {
  margin: 0;
}

.book-rank {
  font-size: var(--fs-h2);
  font-weight: var(--fw2);
  color: #6594E7;
}

.book-title {
  font-size: var(--fs-h4);
  font-weight: var(--fw2);
  color: var(--black-600);
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-creators {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--fs-h4);
  font-weight: var(--fw1);
  color: var(--black-500);
}

.book-creators p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.book-publisher {
  font-size: var(--fs-h4);
  font-weight: var(--fw1);
  color: var(--black-300);
}

.book-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.book-rating-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.book-rating-score {
  font-size: var(--fs-h4);
  font-weight: var(--fw2);
  color: var(--black-600);
}

.book-review-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  padding: 0.25rem 0.5rem;

  background-color: var(--black-100);
  border-radius: 6.25rem;
  text-decoration: none;
  font-size: var(--fs-h4);
  font-weight: var(--fw1);
  color: var(--black-400);
}

.book-review-link:focus-visible {
  outline: 3px solid #333333;
  outline-offset: 3px;
}

/* 태블릿 */
@media (max-width:1398px) {
  section {
    padding: var(--space-3x-large) var(--space-2x-large);
  }

  html {
    font-size: var(--fs-pad);
  }

  .bestseller-arrow {
    width: 18px;
  }

  .bestseller-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .book-info {
    gap: var(--space-x-small);
  }

  .book-creators {
    flex-direction: column;
    gap: 0.5rem;
  }

  .book-creators p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .book-creators span{
    display: none;
  }
  
  .book-rating-icon {
    display: block;
    width: 18px;
    height: 18px;
  }
}

/* 모바일 */
@media (max-width: 860px) {
  section {
    padding: var(--space-3x-large) var(--space-2x-large);
  }

  html {
    font-size: var(--fs-mo);
  }
  .bestseller-arrow {
    width: 16px;
  }
  .bestseller-list {
    display: flex;
    flex-direction: column;
    gap:6rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .book-info {
    gap: var(--space-x-small);
  }

  .book-creators {
    flex-direction: column;
    gap: 0.5rem;
  }
  .book-creators span{
    display: none;
  }
  .book-cover {
    width: 118px;
    height: 173px;
  }

  .book-rank {
  font-size: 17px;
  font-weight: var(--fw2);
  color: #6594E7;
  }

  .book-rating-icon {
    display: block;
    width: 16px;
    height: 16px;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 444px){
  .book-card {
    gap: 1rem;
  }

  .book-info {
    gap: var(--space-normal);
  }

  .book-title {
    font-size: var(--fs-body1);
  }
  .book-creators {
    font-size: var(--fs-body1);
  }

  .book-publisher {
    font-size: var(--fs-body1);
  }
  
  .book-rating-score {
    font-size: var(--fs-body1);
  }

  .book-review-link {
    height: 1rem;
    font-size: var(--fs-body1);
  }
}
